<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>회원 가입을 축하합니다!</h1>
    <p>이름 : <%= userInfo.name %></p>
    <p>성별 : <%= userInfo.gender %></p>
    <p>생년월일 : <%= userInfo.year %>년 
        <%= userInfo.month %>월 
        <%= userInfo.day %>일</p>
    <p>관심사 : <%= userInfo.interest %></p>
    <a href="/">홈으로 이동</a>
</body>
</html>